.listProblems, .formSubmit {
  width: 60%;
  margin: 0 auto;
}

.listProblems h1 {
  text-align: center;
  font-size: 3rem;
}

#submitBtn {
  float: right;
}

.tabView {
  width: 60%;
  margin: 0 auto;
}



